.header{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(36, 36, 36);
    align-items: center;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    .left{
        margin-left: 2rem;
        font-size: 20px;
    }
    .right{
        display: flex;
    margin-right: 1rem;
    .link{
        padding: 2px 30px ;
        cursor: pointer;
        &:hover{
            color: blue;
        }
    }
    }
}